<fieldset>
    <legend style="width:100%"> {{printDate}} | {{logItem.level}} | {{logItem.event_name}}</legend>
    <div class="show-json" [@logState]="expand">
        <pre [ngClass]="{'overflow': expand === 'active'}" [innerHtml]="content"  *ngIf="!text"></pre>
        <div *ngIf="text">{{logItem|json}}</div>
    </div>
    <a style="bottom: 5px;" (click)="onExpandClick()" *ngIf="expand === 'active'"><fa name="angle-up"></fa></a>
    <a style="bottom: 15px;" (click)="onExpandClick()" *ngIf="expand === 'inactive'">...</a>
    <hr/>
</fieldset>
