.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

a:not([href]):not([tabindex]) {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

ngb-datepicker.ng-untouched.ng-pristine.ng-valid,
ngb-datepicker.ng-valid.ng-touched.ng-dirty {
  background: #fff;
  position: absolute;
  z-index: 101;
}

.form-control[readonly] {
  background: #fff;
}

.alt-input {
  position: absolute;
  width: 375px;
  top: 2px;
  left: 1px;
  height: 32px;
  border: 0;
  padding: 0 10px;
}

.time-form {
  position: relative;
  margin-bottom: 10px;
}
