<nav aria-label="breadcrumb" style="background-color: #f7f7f9; padding-top: 15px;">
  <ul class="nav">
    <li class="nav-link"><b>Select period:</b></li>
    <li class="nav-item"><a class="nav-link" (click)="onSetRange($event)">5 min</a></li>
    <li class="nav-item"><a class="nav-link" (click)="onSetRange($event)">1 hour</a></li>
    <li class="nav-item"><a class="nav-link" (click)="onSetRange($event)">6 hours</a></li>
    <li class="nav-item"><a class="nav-link" (click)="onSetRange($event)">1 day</a></li>
    <li class="nav-item"><a class="nav-link" (click)="onSetRange($event)">1 week</a></li>
    <li class="nav-item" style="margin-left: 40px; width: 450px;">
        <div class="time-form">
              <form #myForm="ngForm" novalidate>
                <!-- <input type="text" class="alt-input" [(ngModel)]="templ"> -->
                <my-date-range-picker 
                  name="mydaterange" [options]="myDateRangePickerOptions"
                  (dateRangeChanged)="onDateRangeChanged($event)"
                  [(ngModel)]="model" required></my-date-range-picker>
              </form>
              <input type="text" class="alt-input" [(ngModel)]="displayTime">
          </div>
          
    </li>
  </ul>
</nav>
<hr/>
