/* You can add global styles to this file, and also import other style files */
.string { color: #071bca; }
.number { color: green; }
.boolean { color: #5d64f2; }
.null { color: #000; }
.key { color: #0e6e88; }

.modal-content { margin-top: 160px; }