<div class="log-info">
  <form [formGroup]="reactiveForm" (ngSubmit)="onGetLogs(reactiveForm.value, '')">
    <div class="row">
      <div class="col-2 col-lg-1"><label for="level-select">Level:</label></div>
      <div class="col-4 col-lg-3">
        <select class="form-control" id="level-select" formControlName="level">
          <option *ngFor="let item of levels | enums" [value]="item.value">{{item.key}}</option>
        </select>
      </div>
      <div class="col-2 col-lg-1"><label for="app-code">App Code:</label></div>
      <div class="col-4 col-lg-3">
        <select *ngIf="!inputApp" class="form-control" id="app-code" formControlName="app_code">
          <option *ngFor="let item of appCodes | enums" [value]="item.value">{{item.key}}</option>
        </select>
        <input *ngIf="inputApp" type="text" id="app-code" class="form-control" formControlName="app_code">
        <a *ngIf="!inputApp" style="position: absolute; top: 8px; left: -12px;" (click)="onSwitchInputApp($event)"><fa name="pencil"></fa></a>
        <a *ngIf="inputApp" style="position: absolute; top: 7px; right: 15px;" (click)="onSwitchInputApp($event)"><fa name="times"></fa></a>
      </div>
      <div class="col-2 col-lg-1"><label for="event">Event:</label></div>
      <div class="col-4 col-lg-3"><input type="text" id="event" class="form-control" formControlName="event"></div>
      <div class="col-2 col-lg-1"><label for="company-id">Company Id:</label></div>
      <div class="col-4 col-lg-3"><input type="text" id="company-id" class="form-control" formControlName="company_id"></div>
      <div class="col-2 col-lg-1"><label for="site-id">Site Id:</label></div>
      <div class="col-4 col-lg-3"><input type="text" id="site-id" class="form-control" formControlName="site_id"></div>
      <div class="col-2 col-lg-1"><label for="order-id">Order Id:</label></div>
      <div class="col-4 col-lg-3"><input type="text" id="order-id" class="form-control" formControlName="order_id"></div>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="open(content)">Sign In</button>
    <button class="btn btn-primary" type="submit" [disabled]="!reactiveForm.valid">Get Logs</button>
    <button type="button" class="btn btn-success" (click)="onExportLogs(reactiveForm.value)">Export to S3</button>
    <a class="copy-button" *ngIf="downloadLogs !== ''" href="{{downloadLogs}}">Download Logs</a>
    <a class="copy-button" *ngIf="downloadLogs !== ''" ngxClipboard  [cbContent]="downloadLogs">Copy link</a>
  </form>
</div>
<div class="sort-block" *ngIf="logsLength && !showMessage">
  <h5>Total: {{logsLength}}</h5>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a [ngClass]="{'active': status==='ALL'}" class="nav-link" (click)="onSortByLevel($event)">ALL</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='ERROR'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['ERROR'] ? true : null">ERROR</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='INFO'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['INFO'] ? true : null">INFO</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='DEBUG'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['DEBUG'] ? true : null">DEBUG</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='WARN'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['WARN'] ? true : null">WARN</a></li>
  </ul>
</div>
<div class="logs-list" *ngIf="logsLength">
  <app-log-item *ngFor="let logItem of logItems" [log]="logItem"></app-log-item>
  <button *ngIf="logItems && !showMessage" class="btn btn-link" type="button" (click)="onGetLogs(reactiveForm.value, 'more')">Load More</button>
</div>
<div *ngIf="showMessage" class="no-logs">
  <p>{{noLogsMessage}}</p>    
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<ng-template #content let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sign In</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!signedIn">
    <label for="user">User:</label>
    <input id="user" type="text" class="form-control" [(ngModel)]="user" placeholder="Enter your email">
    <label for="pass">Password:</label>
    <input id="pass" type="text" class="form-control" [(ngModel)]="password" placeholder="Enter your password">
  </div>
  <div class="modal-body" *ngIf="signedIn">
    <p> You have been successfully signed in! </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSignIn()" *ngIf="!signedIn">Sign In</button>
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</ng-template>

