<div class="log-info">
  <form [formGroup]="reactiveForm" (ngSubmit)="onGetLogs(reactiveForm.value)">
    <div class="row">
      <div class="col-sm-2"><label for="level-select">Level:</label></div>
      <div class="col-sm-4">
        <select *ngIf="!inputLevel" class="form-control" id="level-select" formControlName="level">
          <option *ngFor="let item of levels | enums" [value]="item.value">{{item.key}}</option>
        </select>
        <input *ngIf="inputLevel" type="text" id="app-code" class="form-control" formControlName="app_code">
        <div class="alert" *ngIf="!reactiveForm.controls['level'].valid && reactiveForm.controls['level'].touched">{{ titleAlert }}</div>
        <a style="position: absolute; top: 8px; right: 35px;" (click)="onSwitchInputLevel($event)"><fa name="pencil"></fa></a>
      </div>
      <div class="col-sm-2"><label for="app-code">App Code:</label></div>
      <div class="col-sm-4">
        <select *ngIf="!inputApp" class="form-control" id="app-code" formControlName="app_code">
          <option *ngFor="let item of appCodes | enums" [value]="item.value">{{item.key}}</option>
        </select>
        <input *ngIf="inputApp" type="text" id="app-code" class="form-control" formControlName="app_code">
        <div class="alert" *ngIf="!reactiveForm.controls['app_code'].valid && reactiveForm.controls['app_code'].touched">{{ titleAlert }}</div>
        <a style="position: absolute; top: 8px; right: 35px;" (click)="onSwitchInputApp($event)"><fa name="pencil"></fa></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"><label for="event">Event:</label></div>
      <div class="col-sm-4">
        <input type="text" id="event" class="form-control" formControlName="event">
        <div class="alert" *ngIf="!reactiveForm.controls['event'].valid && reactiveForm.controls['event'].touched">{{ titleAlert }}</div>
      </div>
      <div class="col-sm-2"><label for="company-id">Company Id:</label></div>
      <div class="col-sm-4">
        <input type="text" id="company-id" class="form-control" formControlName="company_id">
        <div class="alert" *ngIf="!reactiveForm.controls['company_id'].valid && reactiveForm.controls['company_id'].touched">{{ titleAlert }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"><label for="site-id">Site Id:</label></div>
      <div class="col-sm-4">
        <input type="text" id="site-id" class="form-control" formControlName="site_id">
        <div class="alert" *ngIf="!reactiveForm.controls['site_id'].valid && reactiveForm.controls['site_id'].touched">{{ titleAlert }}</div>
      </div>
      <div class="col-sm-2"><label for="order-id">Order Id:</label></div>
      <div class="col-sm-4">
        <input type="text" id="order-id" class="form-control" formControlName="order_id">
        <div class="alert" *ngIf="!reactiveForm.controls['order_id'].valid && reactiveForm.controls['order_id'].touched">{{ titleAlert }}</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!reactiveForm.valid">Get Logs</button>
    <button type="button" class="btn btn-success" (click)="onExportLogs(reactiveForm.value)">Export to S3</button>
  </form>
</div>
<div class="sort-block" *ngIf="logItems">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a [ngClass]="{'active': status==='ALL'}" class="nav-link" (click)="onSortByLevel($event)">ALL</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='ERROR'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['ERROR'] ? true : null">ERROR</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='INFO'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['INFO'] ? true : null">INFO</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='DEBUG'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['DEBUG'] ? true : null">DEBUG</a></li>
    <li class="nav-item"><a [ngClass]="{'active': status==='WARN'}" class="nav-link" (click)="onSortByLevel($event)" [class.disabled]="levelsList['WARN'] ? true : null">WARN</a></li>
  </ul>
</div>
<div class="logs-list" *ngIf="logItems">
  <app-log-item *ngFor="let logItem of logItems" [log]="logItem"></app-log-item>
  <button class="btn btn-link" type="button" (click)="onGetLogs(reactiveForm.value, 'more')">Load More</button>
</div>

